<li>
	{{burger_name}}

	{{#if notdevoured}}
	<button class="change-eaten" data-id="{{id}}" data-newdevour="{{notdevoured}}">
		Eat It!
	</button>
	{{else}}
	<button data-id="{{id}}" id="reviewBurger">
		Review It!
	</button>
	<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
	{{!-- <button data-id="{{id}}" id="pop" role="tooltip">
		pop
	</button> --}}
	{{/if}}
</li>